<footer>
	<nav>
                 <a  href="https://github.com/vsviryd777/vsviryd777.github.io" target="_blank">Github</a>
                 <a  href="https://vsviryd777.github.io/" target="_blank"> GitHub.io </a>
                 <a  href="https://vsviryd777.github.io/web250/" target="_blank"> Web250.io </a>
                 <a  href="https://www.freecodecamp.org/fcc23fd9047-7113-4722-90b7-444d1c404027" target="_blank"> Freecodecamp </a>
                 <a  href="https://www.codecademy.com/profiles/volhaSvirydzenka8329130125" target="_blank"> Codeacademy </a>
                 <a  href="https://jsfiddle.net/user/vsviryd777/fiddles/" target="_blank"> JSFiddle </a>
                 <a  href="https://www.linkedin.com/in/volha-olga-svirydzenka-024051204/" target="_blank"> LinkedIn </a>         
        </nav>
        <div class="slogan">Unlock your creativity with  PixelBeads!</div>
         Designed by  V.Svirydzenka, &copy; 21 January 2023
         <br>

	<a href="http://validator.w3.org/check?uri=referer" id = "link_html">
		<img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." >
	 </a>
 
	 <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "link_css">
		 <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." >
	 </a>
	 <script>
		 document.getElementById("link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		 document.getElementById("link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
         </script> 
 </footer>
