<footer>
  <nav>
	<br>
	<a  href="https://github.com/vsviryd777">My Github</a>
	<a href="https://github.com/vsviryd777/vsviryd777.github.io"> GitHub WEB115 </a>
	<a  href="https://www.freecodecamp.org/fcc23fd9047-7113-4722-90b7-444d1c404027"> Freecodecamp </a>
   <a  href="https://www.codecademy.com/profiles/volhaSvirydzenka8329130125"> Codeacademy </a>
   <a  href="https://jsfiddle.net/user/vsviryd777/fiddles/"> JSFiddle </a><br>
	<p id ="slogan">“A cat has absolute emotional honesty: human beings, for one reason or another, may hide their feelings, but a cat does not.” –
	</br><em>Ernest Hemingway</em></p>
	  <br/>
	  <br/>Designed by &copy; V.Svirydzenka, 21 August 2022
	  <br/>
	  <br/>
	  <a href="http://validator.w3.org/check?uri=referer" id = "link_html">
		<img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." >
	</a>

	<a href="https://jigsaw.w3.org/css-validator/check/referer" id = "link_css">
		<img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." >
	</a>
	<script>
		document.getElementById("link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script> 
		<br/>
		<br/>
  </nav>
</footer>
