<footer>
  <nav>
	<br>
	<a  href="https://github.com/vsviryd777">My Github</a>
	<a href="https://github.com/vsviryd777/vsviryd777.github.io"> GitHub WEB115 </a>
	<a  href="https://www.freecodecamp.org/fccab64f6b5-647e-4ca5-8f89-897fcf1de3bf"> Freecodecamp </a>
   <a  href="https://www.codecademy.com/profiles/volhaSvirydzenka8329130125"> Codeacademy </a>
   <a  href="https://jsfiddle.net/user/vsviryd777/fiddles/"> JSFiddle </a><br>
	<a href="http://validator.w3.org/check?uri=referer" style = "text-decoration: none">
	<a href="http://validator.w3.org/check?uri=referer" style = "text-decoration: none"><br>
	  <br/>Designed by &copy; V.Svirydzenka, 21 August 2022
	  <br/>
	  <br/>
	  <a href="http://jigsaw.w3.org/css-validator/check/referer">
		<img style="border:0;width:88px;height:31px"
			 src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
			 alt="valid CSS!" />
		</a>
   <a href="http://jigsaw.w3.org/css-validator/check/referer">
		<img style="border:0;width:88px;height:31px"
			 src="http://jigsaw.w3.org/css-validator/images/vcss"
			 alt="valid CSS!" />
  </a>

		<br/>
		<br/>
  </nav>
</footer>
