
body
{
  font-family: 'Merriweather Sans', sans-serif;
  background-color:rgb(154, 233, 222) #4C679;
  color:#4C6793;
  margin-left: 100px;
  margin-right: 100px;
}

main {
        margin-left:50px;
        margin-right:50px;
}
 
header
{
    background-color:#95BDFF;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #3795BD;
    padding:5px;
}

p{
text-align: justify;
}
footer
{
  background-color: #95BDFF;
  color:#3795BD;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 5px;
}


a{
  color:#FFBF00;
  font-family: 'Merriweather Sans', sans-serif;
  margin:50px 20px;
  text-decoration: none;
}

a:hover{
  color:#3795BD;
}

#slogan {
  font-style: italic;
}
figure {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}